# object and dependency files
/obj/*
*.o
*.d

#local files and configuration files
.vscode/*

# executables
a.out
megaphone
phonebook
accountant
BraiiiiiiinnnzzzZ
HITHISISBRAIN
warzone
changetheword
Harl
harlFilter
fixedPointNumberIntro
fixedPointNumber
fixedPointNumberWithOperators

# test output files
out
